---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { cn } from '@/lib/utils';

import InteractiveContentAndButtonsJSXComponent from '@/components/WelcomeSection/InteractiveContentComponent';
import InteractiveAboutJSXComponent from '@/components/AboutSection/InteractiveContentComponent';
import ButtonStageSetComponent from '@/components/WelcomeSection/ButtonStageSetComponent';
import AnimationOsiLayers from '@/components/WelcomeSection/AnimationOsiLayers';
import ButtonStageSetAboutSection from '@/components/AboutSection/ButtonStageSetComponent'
import AnimationNourishApp from '@/components/ProjectNourishSection/AnimationNourish';
import AnimationAboutSection from '@/components/AboutSection/AnimationAbout.tsx';
import InteractiveProjectNourishJSXComponent from '@/components/ProjectNourishSection/InteractiveContentAndButtonsComponent';
import ButtonStageSetNourishSection from '@/components/ProjectNourishSection/ButtonStageSetComponent';
import AltButtonStageSetAboutSection from '@/components/ProjectNourishSection/ButtonStageSetComponentAlt';

const responsiveWrapperStyles: string = 'flex w-full h-full items-start justify-start md:justify-end min-w-[360px]';
const textWrapperStyles = "flex w-auto h-full flex-col w-[330px] md:w-[360px] lg:w-[420px] ml-8 md:ml-12";
const h1Styles: string = "text-6xl mt-[17vh]"
---

<Layout title="DevBlog @Kutsarov">
	<!--
	<ContactsSection /> -->

	<!-- sets the width and background of the entire section -->
	<section id="welcome-section" class="grid md:grid-cols-2 bg-gradient-to-b min-h-[100vh] from-slate-700 via-slate-800 to-slate-800 w-full pb-40 md:mb-0">
		<span class={cn(responsiveWrapperStyles)}>
			<span class={cn(textWrapperStyles)}>
				<h1 class={cn(h1Styles, 'text-slate-50')}>
					<span class="bg-clip-text text-transparent bg-gradient-to-b from-cyan-50 via-cyan-100 to-slate-400">
						Visit the Devlog
					</span>
				</h1>
				<InteractiveContentAndButtonsJSXComponent client:load />
				<!-- buttons -->
				<span class="flex items-center gap-2">
					<ButtonStageSetComponent client:load />
					<a class="bg-slate-500/50 hover:bg-slate-900 hover:shadow-inner text-zinc-50 px-5 py-3 max-h-14 text-sm tracking-wider rounded-lg flex items-center justify-center" href="/blog">Navigate</a>
				</span>
			</span>
		</span>
		<!-- flex w-360px h-640px -->
		<AnimationOsiLayers client:load />
	</section>
	
	<!-- About section -->
	<section id="welcome-section" class="relative flex flex-col lg:grid lg:grid-cols-2 w-full h-full min-h-[100vh] bg-gradient-to-b  from-slate-50 via-slate-100 to-slate-200">
		<!-- <AnimationAboutSection client:visible /> -->

		<span class={cn(responsiveWrapperStyles)}>
			<span class={cn(textWrapperStyles)}>
				<h1 class={cn(h1Styles, 'text-slate-50')}>
					<span class="bg-clip-text text-transparent bg-gradient-to-b from-zinc-400 via-slate-500 to-slate-600">
						About
					</span>
				</h1>
				<InteractiveAboutJSXComponent client:visible />
				<span class="flex items-center gap-2">
					<ButtonStageSetAboutSection client:visible />
					<a class="bg-slate-700 hover:bg-slate-800 text-zinc-50 px-5 py-3 max-h-14 text-sm tracking-wider font-semibold rounded-lg flex items-center justify-center" href="/about">Navigate</a>
				</span>
			</span>

		</span>
		<AnimationAboutSection client:visible />
	</section>

	<section id="welcome-section" class="relative flex flex-col lg:grid lg:grid-cols-2 w-full h-full min-h-[100vh] bg-gradient-to-b from-slate-200 via-slate-100 to-white">
		<AltButtonStageSetAboutSection client:load />
		<span class={cn(responsiveWrapperStyles)}>
			<span class={cn(textWrapperStyles)}>
				<!-- <h1 class="text-4xl font-bold md:text-6xl text-slate-50 max-w-[320px] md:max-w-[460px] mb-2 md:mb-6">Visit the Devlog</h1> -->
				<h1 class={cn(h1Styles, 'text-slate-50')}>
					<span class="bg-clip-text text-transparent bg-gradient-to-b from-slate-500 via-slate-600 to-slate-800">
						The Nourish Project
					</span>
				</h1>
				<InteractiveProjectNourishJSXComponent client:load />
				<!-- buttons -->
				<span class="flex items-center gap-2">
					<ButtonStageSetNourishSection client:load />
					<a class="bg-slate-700 hover:bg-slate-900 hover:shadow-inner text-zinc-50 px-5 py-3 max-h-14 text-sm tracking-wider rounded-lg flex items-center justify-center" href="/thenourishproject">Navigate</a>
				</span>
			</span>
		</span>
		<!-- flex w-360px h-640px -->
		<AnimationNourishApp client:visible />
	</section>
</Layout>
